---
import RootLayout from "../../layouts/RootLayout.astro"
import type { InferGetStaticParamsType, InferGetStaticPropsType, GetStaticPaths } from 'astro';


export async function getStaticPaths() {
  const allPosts: any = await Astro.glob("../posts/*.md")

  const uniqueTags = [
    ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
  ]

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) =>
      post.frontmatter.tags.includes(tag)
    )
    return {
      params: { tag },
      props: { posts: filteredPosts },
    }
  })
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>

const { tag } = Astro.params as Params
const { posts } = Astro.props
---

<RootLayout title={tag}>
  <p>Posts tagged with {tag}</p>

  <ul>
    {
      posts.map((post: any) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</RootLayout>
