---
import RootLayout from "../layouts/RootLayout.astro"

const topics = ["Astro", "TailwindCSS", "Drizzle", "Postgres"]
---

<RootLayout title='About Astro'>
  <ul class='mt-12 space-y-2'>
    {topics.map((topic) => <li class='px-5'>{topic}</li>)}
  </ul>
</RootLayout>
