---
import RootLayout from "../layouts/RootLayout.astro"

const pageTitle = "About Me"

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
}

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"]

const happy = true
const finished = false
const goal = 3

const skillColor = "navy"
const fontWeight = "bold"
const textCase = "uppercase"
---

<RootLayout title='About Astro'>
  <div class='p-24 mx-auto max-w-screen-lg'>
    <div class='flex gap-4 text-sm'>
      <a href='/'>⬅️</a>
      <h1>About 🚀</h1>
    </div>

    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class='skill'>{skill}</li>)}
    </ul>
  </div>
</RootLayout>
