---
import RootLayout from '../layouts/RootLayout.astro'

---

<RootLayout title="Astro 🚀">
	<div class="p-24 mx-auto max-w-screen-lg">
		<div class="flex justify-between text-sm">
			<h1>Astro 🚀</h1>
			<a href="/about">About</a>
		</div>
	</div>
</RootLayout>
