---
import RootLayout from "../layouts/RootLayout.astro"
import FormInput from "../components/FormInput.astro"
---

<RootLayout title='Astro 🚀'>
  <form
    method='post'
    action='/api/signup'
    class='px-5 my-16 flex flex-col items-center space-y-4'
  >
    <h1>Sign up</h1>

    <FormInput name='username' label='Username' />
    <FormInput name='email_address' label='Email Address' type='email' />
    <FormInput name='password' label='Password' type='password' />

    <button
      class='w-2/4 inline-flex justify-center rounded-md border border-transparent bg-gray-800 px-4 py-2 text-sm font-medium text-white hover:bg-orange-500 focus:outline-none focus-visible:ring-1 focus-visible:ring-orange-500 focus-visible:ring-offset-2'
      >Continue</button
    >
  </form>
</RootLayout>
