---
import SocialLinks from "./SocialLinks.astro"
---

<footer class='px-5 pb-2 mt-20'>
  <div class="w-full border-t border-gray-300"></div>
  <div class='mt-2 flex justify-between items-center'>
    <p class='text-xs text-gray-400'>Proudly Open-Source</p>
    <SocialLinks />
  </div>
</footer>
