---
import SocialLinks from "./SocialLinks.astro"
---

<footer class='px-5 mt-20'>
  <div class='flex justify-between items-center'>
    <p class='text-xs text-gray-400'>Proudly Open-Source</p>
    <SocialLinks />
  </div>
</footer>
