---
import { fade } from "astro:transitions"
import { getCollection } from "astro:content"
import Product from "../../components/Product"
import type { CollectionEntry } from "astro:content"
import StoreHeader from "../../components/StoreHeader"
import RootLayout from "../../layouts/RootLayout.astro"

const data = Astro.locals

type ProductProps = {
  product: CollectionEntry<"products">
}

export async function getStaticPaths() {
  const productEntries = await getCollection("products")
  return productEntries.map((product) => ({
    params: { slug: product.id },
    props: { product },
  }))
}

const { product } = Astro.props as ProductProps
---

<RootLayout title='Starlight Store 🚀'>
  <StoreHeader client:load user={data.user} />
  <div transition:animate={fade({ duration: '1s' })}>
    <Product client:load product={product} user={data.user} />
  </div>
</RootLayout>